
.rounded-lg {
  border-radius: 1rem !important;
}

.text-small {
  font-size: 0.9rem !important;
}

.custom-separator {
  width: 5rem;
  height: 6px;
  border-radius: 1rem;
}
.btn-primary{
  width: 100%;
}
.text-uppercase {
  letter-spacing: 0.2em;
}
.Containerback{
  margin-top: 2%;
  margin-left: 10%;
  background: #0071db;
  width: fit-content;
}
.symbol{
  font-weight:bold;
}
.Pricecards{
 display: flex;
 align-items: center;
 gap: 1rem; 
}
.card{
width: 20rem;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/


